In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
np.random.seed(42)

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
stanford = pd.read_excel('../SAA Pride member reports headings.xlsx')

Create fake data.

In [5]:
common_first_name = ['Liam',
    'Noah',
    'Oliver',
    'James',
    'William',
    'Benjamin',
    'Henry',
    'Jack',
    'Alex',
    'Jackson',
    'Mateo',
    'Daniel',
    'Michael',
    'Mason',
    'Sebastian',
    'Ethan',
    'Mary',
    'Jennifer',
    'Linda',
    'Elizabeth',
    'Susan',
    'Jessica',
    'Sarah',
    'Karen',
    'Lisa',
    'Nancy',
    'Betty',
    'Margaret',
    'Sandra',
    'Ashley',
    'Kimberly',
    'Emily',
    'Michelle',
    'Taylor']

common_last_name = [
    'Smith',
    'Johnson',
    'Williams',
    'Brown',
    'Jones',
    'Miller',
    'Davis',
    'Garcia',
    'Rodriguez',
    'Wilson',
    'Lee',
    'Jackson',
    'Martin'
]

titles = ['Dr.', 'Mr.', 'Ms.', 'Mrs.']

In [6]:
city = ['Chicago', 'Boston', 'New York', 'San Francisco', 'Los Angeles', 'Austin','Dallas', 'Denver', 'Madrid', 'Tokyo', 'Seoul', 'London',
       'Beijing']

In [7]:
email_endings = ['@gmail.com', '@stanford.edu', '@alumni.stanford.edu']

In [8]:
pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))

     A   B   C   D
0   51  92  14  71
1   60  20  82  86
2   74  74  87  99
3   23   2  21  52
4    1  87  29  37
..  ..  ..  ..  ..
95  59  96  62  84
96  31  86  32  66
97  17  24  94  53
98  57  66  45  23
99  31  46  85  22

[100 rows x 4 columns]

In [9]:
firsttname = []

while len(firsttname) < 300:
    firsttname.append(random.choice(common_first_name))

In [10]:
len(firsttname)

300

In [11]:
lastname = []

while len(lastname) < 300:
        lastname.append(random.choice(common_last_name))

In [12]:
len(lastname)

300

In [13]:
cityname = []

while len(cityname) < 300:
        cityname.append(random.choice(city))

In [14]:
len(cityname)

300

In [49]:
classyear = []

while len(classyear) < 300:
        classyear.append(random.randint(1800, 2100))

In [50]:
len(classyear)

300

In [51]:
email = []

while len(email) < 300:
        email.append(random.choice(email_endings))

In [52]:
len(email)

300

In [53]:
stanford.saa_email_address = email

In [54]:
stanford.first_name = firsttname
stanford.last_name = lastname
stanford.pref_class_year = classyear
stanford.home_city = cityname

In [55]:
stanford.first_name

0          James
1           Noah
2        Michael
3       Margaret
4          Mateo
         ...
295        Susan
296    Elizabeth
297         Lisa
298    Sebastian
299      William
Name: first_name, Length: 300, dtype: object

In [56]:
stanford

,pref_mail_name,pref_class_year,home_city,home_state_code,home_country,home_phone_area_code,home_phone_number,home_email_address,bus_city,bus_state_code,bus_country,bus_phone_area_code,bus_phone_number,bus_email_address,first_name,last_name,pref_name_sort,email_switch,saa_email_address,gsb_email_address,other_email_address,pref_phone_area_code,pref_phone_number,pref_phone_addr_type,memb_status_desc,short_degree_string,parent_degree_string,short_degree_string_spouse,parent_degree_string_spouse,primary_sort_name,plan_name,primary_ind
0,*,1834,Boston,MA,*,*,*,*,*,*,*,*,*,*,James,Smith,*,*,@stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*
1,*,1911,Beijing,*,China,*,*,*,*,*,*,*,*,*,Noah,Jackson,*,*,@stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*
2,*,1976,Denver,CO,*,*,*,*,*,*,*,*,*,*,Michael,Brown,*,*,@alumni.stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*
3,*,1853,Los Angeles,CA,*,*,*,*,*,*,*,*,*,*,Margaret,Smith,*,*,@gmail.com,*,*,*,*,*,*,*,*,*,*,*,*,*
4,*,1827,San Francisco,CA,*,*,*,*,*,*,*,*,*,*,Mateo,Davis,*,*,@gmail.com,*,*,*,*,*,*,*,*,*,*,*,*,*
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,*,2065,Dallas,TX,*,*,*,*,*,*,*,*,*,*,Susan,Brown,*,*,@gmail.com,*,*,*,*,*,*,*,*,*,*,*,*,*
296,*,1890,Madrid,*,Spain,*,*,*,*,*,*,*,*,*,Elizabeth,Lee,*,*,@alumni.stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*
297,*,1950,New York,NY,*,*,*,*,*,*,*,*,*,*,Lisa,Smith,*,*,@alumni.stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*
298,*,2044,Denver,CO,*,*,*,*,*,*,*,*,*,*,Sebastian,Rodriguez,*,*,@stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*
299,*,1897,Chicago,IL,*,*,*,*,*,*,*,*,*,*,William,Lee,*,*,@stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*

In [44]:
country = {
           'Madrid' : 'Spain',
           'Tokyo' : 'Japan',
           'Seoul' : 'South Korea', 
           'London' : 'England',
       'Beijing' : 'China'}

In [45]:
stanford.home_country = stanford['home_city'].map(country)

In [46]:
state = {'Chicago': 'IL', 
           'Boston': 'MA', 
           'New York' : 'NY', 
           'San Francisco': 'CA', 
           'Los Angeles' : 'CA', 
           'Austin' : 'TX',
        'Dallas': 'TX',
        'Denver': 'CO'}

In [47]:
stanford.home_state_code = stanford['home_city'].map(state)

In [48]:
stanford.fillna('*', inplace = True)

In [29]:
stanford

,pref_mail_name,pref_class_year,home_city,home_state_code,home_country,home_phone_area_code,home_phone_number,home_email_address,bus_city,bus_state_code,bus_country,bus_phone_area_code,bus_phone_number,bus_email_address,first_name,last_name,pref_name_sort,email_switch,saa_email_address,gsb_email_address,other_email_address,pref_phone_area_code,pref_phone_number,pref_phone_addr_type,memb_status_desc,short_degree_string,parent_degree_string,short_degree_string_spouse,parent_degree_string_spouse,primary_sort_name,plan_name,primary_ind
0,*,1805,Boston,MA,*,*,*,*,*,*,*,*,*,*,James,Smith,*,*,@alumni.stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*
1,*,2062,Beijing,*,China,*,*,*,*,*,*,*,*,*,Noah,Jackson,*,*,@gmail.com,*,*,*,*,*,*,*,*,*,*,*,*,*
2,*,1156,Denver,CO,*,*,*,*,*,*,*,*,*,*,Michael,Brown,*,*,@gmail.com,*,*,*,*,*,*,*,*,*,*,*,*,*
3,*,2166,Los Angeles,CA,*,*,*,*,*,*,*,*,*,*,Margaret,Smith,*,*,@stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*
4,*,2019,San Francisco,CA,*,*,*,*,*,*,*,*,*,*,Mateo,Davis,*,*,@alumni.stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,*,2288,Dallas,TX,*,*,*,*,*,*,*,*,*,*,Susan,Brown,*,*,@alumni.stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*
296,*,1173,Madrid,*,Spain,*,*,*,*,*,*,*,*,*,Elizabeth,Lee,*,*,@alumni.stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*
297,*,1570,New York,NY,*,*,*,*,*,*,*,*,*,*,Lisa,Smith,*,*,@stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*
298,*,1330,Denver,CO,*,*,*,*,*,*,*,*,*,*,Sebastian,Rodriguez,*,*,@alumni.stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*
299,*,1298,Chicago,IL,*,*,*,*,*,*,*,*,*,*,William,Lee,*,*,@stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*

In [63]:
stanford.pref_mail_name = random.choice(titles) + " " + stanford.first_name + " " + stanford.last_name

In [64]:
stanford

,pref_mail_name,pref_class_year,home_city,home_state_code,home_country,home_phone_area_code,home_phone_number,home_email_address,bus_city,bus_state_code,bus_country,bus_phone_area_code,bus_phone_number,bus_email_address,first_name,last_name,pref_name_sort,email_switch,saa_email_address,gsb_email_address,other_email_address,pref_phone_area_code,pref_phone_number,pref_phone_addr_type,memb_status_desc,short_degree_string,parent_degree_string,short_degree_string_spouse,parent_degree_string_spouse,primary_sort_name,plan_name,primary_ind
0,Mrs. James Smith,1834,Boston,MA,*,*,*,*,*,*,*,*,*,*,James,Smith,*,*,@stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*
1,Mrs. Noah Jackson,1911,Beijing,*,China,*,*,*,*,*,*,*,*,*,Noah,Jackson,*,*,@stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*
2,Mrs. Michael Brown,1976,Denver,CO,*,*,*,*,*,*,*,*,*,*,Michael,Brown,*,*,@alumni.stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*
3,Mrs. Margaret Smith,1853,Los Angeles,CA,*,*,*,*,*,*,*,*,*,*,Margaret,Smith,*,*,@gmail.com,*,*,*,*,*,*,*,*,*,*,*,*,*
4,Mrs. Mateo Davis,1827,San Francisco,CA,*,*,*,*,*,*,*,*,*,*,Mateo,Davis,*,*,@gmail.com,*,*,*,*,*,*,*,*,*,*,*,*,*
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Mrs. Susan Brown,2065,Dallas,TX,*,*,*,*,*,*,*,*,*,*,Susan,Brown,*,*,@gmail.com,*,*,*,*,*,*,*,*,*,*,*,*,*
296,Mrs. Elizabeth Lee,1890,Madrid,*,Spain,*,*,*,*,*,*,*,*,*,Elizabeth,Lee,*,*,@alumni.stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*
297,Mrs. Lisa Smith,1950,New York,NY,*,*,*,*,*,*,*,*,*,*,Lisa,Smith,*,*,@alumni.stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*
298,Mrs. Sebastian Rodriguez,2044,Denver,CO,*,*,*,*,*,*,*,*,*,*,Sebastian,Rodriguez,*,*,@stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*
299,Mrs. William Lee,1897,Chicago,IL,*,*,*,*,*,*,*,*,*,*,William,Lee,*,*,@stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*