In [289]:
import pandas as pd
import numpy as np
import random 
import pycountry
np.random.seed = 42
random.seed(42)

pd.set_option('display.max_columns', None)
pd.set_option('display.min_rows', 100)
num_ofDesiredRecords = 4000

In [136]:
def createRandomPhoneNumber_SAA():
    range_start = 10**9
    range_end = 10**10 -1
    num = str(random.randint(range_start,range_end))
    num_str = "{0} {1}-{2}".format(num[:3], num[3:7],num[7:])
    return num_str

In [137]:
def createRandomEmail(record,domainList=['@gmail.com','@stanfordalumni.org','@alumni.stanford.edu']):
    domain = random.choice(domainList)
    fName = record['first_name'].strip().lower()
    LName = record['last_name'].strip().lower()
    formats = []
    
    #Example: John Doe 123
    formats.append(fName[0]+LName+str(random.randint(10,9999))) #jdoe123
    formats.append(fName+LName+str(random.randint(10,9999))) #johndoe123
    formats.append(fName+LName[0]+str(random.randint(10,9999))) #johnd123
    formats.append(fName[0]+'.'+LName+str(random.randint(10,9999))) #j.doe123
    formats.append(fName+'.'+LName+str(random.randint(10,9999))) #john.doe123
    
    return random.choice(formats)+domain

In [138]:
def createDegreeString_SAA():
    degree_list = ['MS','MA','MBA','MD','PhD','BA','BS','JD','']
    degree_years = "'" + str(random.randint(80,99))
    degree = random.choice(degree_list) + ' ' + degree_years
    return degree.strip()

In [141]:
city = ['Chicago', 'Boston',  'Madrid', 'Tokyo', 'Seoul', 'London','Beijing','Shanghai','Dubai','*',np.nan,'']
state = ['NY', 'WA', 'TX','CA','NM','*',np.nan,'']
country = ['Japan', 'United States', 'USA', 'China', 'UAE', 'Kuwait','*',np.nan,'']

In [142]:
common_FNames = []
common_FNames.extend(common_female_Fnames)
common_FNames.extend(common_male_Fnames)

In [223]:
common_FNames = [
'Bulbasaur',
'Ivysaur',
'Venusaur',
'Charmander',
'Charmeleon',
'Charizard',
'Squirtle',
'Wartortle',
'Blastoise',
'Caterpie',
'Metapod',
'Butterfree',
'Weedle',
'Kakuna',
'Beedrill',
'Pidgey',
'Pidgeotto',
'Pidgeot',
'Rattata',
'Raticate',
'Spearow',
'Fearow',
'Ekans',
'Arbok',
'Pikachu',
'Raichu',
'Sandshrew',
'Sandslash',
'Nidoran♀',
'Nidorina',
'Nidoqueen',
'Nidoran♂',
'Nidorino',
'Nidoking',
'Clefairy',
'Clefable',
'Vulpix',
'Ninetales',
'Jigglypuff',
'Wigglytuff',
'Zubat',
'Golbat',
'Oddish',
'Gloom',
'Vileplume',
'Paras',
'Parasect',
'Venonat',
'Venomoth',
'Diglett',
'Dugtrio',
'Meowth',
'Persian',
'Psyduck',
'Golduck',
'Mankey',
'Primeape',
'Growlithe',
'Arcanine',
'Poliwag',
'Poliwhirl',
'Poliwrath',
'Abra',
'Kadabra',
'Alakazam',
'Machop',
'Machoke',
'Machamp',
'Bellsprout',
'Weepinbell',
'Victreebel',
'Tentacool',
'Tentacruel',
'Geodude',
'Graveler',
'Golem',
'Ponyta',
'Rapidash',
'Slowpoke',
'Slowbro',
'Magnemite',
'Magneton',
'Doduo',
'Dodrio',
'Seel',
'Dewgong',
'Grimer',
'Muk',
'Shellder',
'Cloyster',
'Gastly',
'Haunter',
'Gengar',
'Onix',
'Drowzee',
'Hypno',
'Krabby',
'Kingler',
'Voltorb',
'Electrode',
'Exeggcute',
'Exeggutor',
'Cubone',
'Marowak',
'Hitmonlee',
'Hitmonchan',
'Lickitung',
'Koffing',
'Weezing',
'Rhyhorn',
'Rhydon',
'Chansey',
'Tangela',
'Kangaskhan',
'Horsea',
'Seadra',
'Goldeen',
'Seaking',
'Staryu',
'Starmie',
'Mr. Mime',
'Scyther',
'Jynx',
'Electabuzz',
'Magmar',
'Pinsir',
'Tauros',
'Magikarp',
'Gyarados',
'Lapras',
'Ditto',
'Eevee',
'Vaporeon',
'Jolteon',
'Flareon',
'Porygon',
'Omanyte',
'Omastar',
'Kabuto',
'Kabutops',
'Aerodactyl',
'Snorlax',
'Articuno',
'Zapdos',
'Moltres',
'Dratini',
'Dragonair',
'Dragonite',
'Mewtwo',
'Mew',
'Chikorita',
'Bayleef',
'Meganium',
'Cyndaquil',
'Quilava',
'Typhlosion',
'Totodile',
'Croconaw',
'Feraligatr',
'Sentret',
'Furret',
'Hoothoot',
'Noctowl',
'Ledyba',
'Ledian',
'Spinarak',
'Ariados',
'Crobat',
'Chinchou',
'Lanturn',
'Pichu',
'Cleffa',
'Igglybuff',
'Togepi',
'Togetic',
'Natu',
'Xatu',
'Mareep',
'Flaaffy',
'Ampharos',
'Bellossom',
'Marill',
'Azumarill',
'Sudowoodo',
'Politoed',
'Hoppip',
'Skiploom',
'Jumpluff',
'Aipom',
'Sunkern',
'Sunflora',
'Yanma',
'Wooper',
'Quagsire',
'Espeon',
'Umbreon',
'Murkrow',
'Slowking',
'Misdreavus',
'Unown',
'Wobbuffet',
'Girafarig',
'Pineco',
'Forretress',
'Dunsparce',
'Gligar',
'Steelix',
'Snubbull',
'Granbull',
'Qwilfish',
'Scizor',
'Shuckle',
'Heracross',
'Sneasel',
'Teddiursa',
'Ursaring',
'Slugma',
'Magcargo',
'Swinub',
'Piloswine',
'Corsola',
'Remoraid',
'Octillery',
'Delibird',
'Mantine',
'Skarmory',
'Houndour',
'Houndoom',
'Kingdra',
'Phanpy',
'Donphan',
'Porygon2',
'Stantler',
'Smeargle',
'Tyrogue',
'Hitmontop',
'Smoochum',
'Elekid',
'Magby',
'Miltank',
'Blissey',
'Raikou',
'Entei',
'Suicune',
'Larvitar',
'Pupitar',
'Tyranitar',
'Lugia',
'Ho-Oh',
'Celebi',
'Treecko',
'Grovyle',
'Sceptile',
'Torchic',
'Combusken',
'Blaziken',
'Mudkip',
'Marshtomp',
'Swampert',
'Poochyena',
'Mightyena',
'Zigzagoon',
'Linoone',
'Wurmple',
'Silcoon',
'Beautifly',
'Cascoon',
'Dustox',
'Lotad',
'Lombre',
'Ludicolo',
'Seedot',
'Nuzleaf',
'Shiftry',
'Taillow',
'Swellow',
'Wingull',
'Pelipper',
'Ralts',
'Kirlia',
'Gardevoir',
'Surskit',
'Masquerain',
'Shroomish',
'Breloom',
'Slakoth',
'Vigoroth',
'Slaking',
'Nincada',
'Ninjask',
'Shedinja',
'Whismur',
'Loudred',
'Exploud',
'Makuhita',
'Hariyama',
'Azurill',
'Nosepass',   
]

In [224]:
common_LNames = ['Normal',
'Fire',
'Water',
'Grass',
'Electric',
'Ice',
'Fighting',
'Poison',
'Ground',
'Flying',
'Psychic',
'Bug',
'Rock',
'Ghost',
'Dragon',
'Steel',
'Dark',
'Fairy']

In [242]:
df_SAA = pd.read_excel("./data/SAA Pride member reports headings.xlsx").append([np.nan]*num_ofDesiredRecords)

C:\Users\saads\AppData\Local\Temp\ipykernel_10524\2961325751.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_SAA = pd.read_excel("./data/SAA Pride member reports headings.xlsx").append([np.nan]*num_ofDesiredRecords)

In [243]:
__  = []
for _ in range(0,num_ofDesiredRecords):
    __.append(random.choice(common_FNames))
    
df_SAA.first_name = __

In [244]:
__  = []
for _ in range(0,num_ofDesiredRecords):
    __.append(random.choice(common_LNames))
    
df_SAA.last_name = __

In [245]:
__  = []
for _ in range(0,num_ofDesiredRecords):
    __.append(random.choices([createRandomPhoneNumber_SAA(),'*',np.nan],weights=(1,5,5))[0])
    
df_SAA.home_phone_number = __

In [283]:
__  = []
for _ in range(0,num_ofDesiredRecords):
    __.append(random.choice(['*',np.nan,createRandomEmail(df_SAA.iloc[_])]))
    
df_SAA.home_email_address = __


__  = []
for _ in range(0,num_ofDesiredRecords):
    __.append(random.choice([createRandomEmail(df_SAA.iloc[_]),np.nan]))
    
df_SAA.email_switch = __

In [247]:
__  = []
for _ in range(0,num_ofDesiredRecords):
    __.append(random.choice(['*',np.nan,createRandomEmail(df_SAA.iloc[_],['@stanfordalumni.org','@alumni.stanford.edu'])]))
    
df_SAA.saa_email_address = __

In [248]:
__  = []
for _ in range(0,num_ofDesiredRecords):
    __.append(random.choices([createRandomEmail(df_SAA.iloc[_]),np.nan],weights=(1, 50))[0])
    
df_SAA.gsb_email_address = __

In [249]:
__  = []
for _ in range(0,num_ofDesiredRecords):
    __.append(random.choices([createRandomEmail(df_SAA.iloc[_]),np.nan],weights=(1, 10))[0])
    
df_SAA.bus_email_address = __

In [250]:
__  = []
for _ in range(0,num_ofDesiredRecords):
    __.append(random.choice(city))
    
df_SAA.home_city = __

In [251]:
__  = []
for _ in range(0,num_ofDesiredRecords):
    __.append(random.choice(country))
    
df_SAA.home_country = __

In [252]:
__  = []
for _ in range(0,num_ofDesiredRecords):
    __.append(random.choice(country))
    
df_SAA.bus_country = __

In [253]:
state = {'Chicago': 'IL', 
           'Boston': 'MA', 
           'New York' : 'NY', 
           'San Francisco': 'CA', 
           'Los Angeles' : 'CA', 
           'Austin' : 'TX',
        'Dallas': 'TX',
        'Denver': 'CO',
        '':'',
        '*':'*'}

df_SAA.home_state_code = df_SAA['home_city'].map(state)

In [254]:
__  = []
for _ in range(0,num_ofDesiredRecords):
    __.append(random.choice(['',np.nan,random.randint(1990, 2018)]))
    
df_SAA.pref_class_year = __

In [255]:
degrees = []
for i in range(0,num_ofDesiredRecords):
    num_draw = random.randint(0,3)
    degree = np.NaN
    k=0
    while k < num_draw:
        if k == 0:
            degree = createDegreeString_SAA()
        else:
            degree = degree +', '+ createDegreeString_SAA()
        k+=1
    degrees.append(degree)
    
df_SAA.short_degree_string = degrees

In [256]:
# df_SAA.to_excel('data/SAA_FakeDB.xlsx',index = False)

In [284]:
df_SAA.drop(columns=[0]).to_excel('data/SAA_Pokemon_FakeDB.xlsx',index = False)

In [285]:
df_SAA

,pref_mail_name,pref_class_year,home_city,home_state_code,home_country,home_phone_area_code,home_phone_number,home_email_address,bus_city,bus_state_code,bus_country,bus_phone_area_code,bus_phone_number,bus_email_address,first_name,last_name,pref_name_sort,email_switch,saa_email_address,gsb_email_address,other_email_address,pref_phone_area_code,pref_phone_number,pref_phone_addr_type,memb_status_desc,short_degree_string,parent_degree_string,short_degree_string_spouse,parent_degree_string_spouse,primary_sort_name,plan_name,primary_ind,0
0,NaN,,,,USA,NaN,*,*,NaN,NaN,UAE,NaN,NaN,NaN,Growlithe,Ice,NaN,NaN,growlithei6777@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,MD '87,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,,NaN,NaN,Japan,NaN,NaN,NaN,NaN,NaN,China,NaN,NaN,NaN,Weedle,Grass,NaN,weedleg3321@alumni.stanford.edu,weedleg1544@stanfordalumni.org,NaN,NaN,NaN,NaN,NaN,NaN,MBA '89,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Boston,MA,United States,NaN,NaN,*,NaN,NaN,United States,NaN,NaN,NaN,Aerodactyl,Electric,NaN,a.electric3084@gmail.com,*,NaN,NaN,NaN,NaN,NaN,NaN,BS '90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Boston,MA,NaN,NaN,*,*,NaN,NaN,NaN,NaN,NaN,NaN,Pinsir,Fire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MA '96, MD '95",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,,London,NaN,Kuwait,NaN,775 0678-214,NaN,NaN,NaN,USA,NaN,NaN,NaN,Horsea,Ice,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,MD '88,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,,Chicago,IL,Japan,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tentacool,Grass,NaN,tgrass7623@stanfordalumni.org,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"JD '96, PhD '83, MBA '99",NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,,Shanghai,NaN,China,NaN,*,*,NaN,NaN,*,NaN,NaN,NaN,Persian,Ghost,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PhD '89,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,1993,Tokyo,NaN,,NaN,NaN,kirlia.steel1736@gmail.com,NaN,NaN,China,NaN,NaN,NaN,Kirlia,Steel,NaN,kirlias7131@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MS '93,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,1997,Madrid,NaN,Kuwait,NaN,782 7384-148,*,NaN,NaN,NaN,NaN,NaN,vileplumedragon2032@alumni.stanford.edu,Vileplume,Dragon,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,Seoul,NaN,USA,NaN,NaN,slugma.ice4995@gmail.com,NaN,NaN,UAE,NaN,NaN,NaN,Slugma,Ice,NaN,NaN,s.ice432@stanfordalumni.org,NaN,NaN,NaN,NaN,NaN,NaN,"BA '84, PhD '93",NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,,,,,NaN,NaN,NaN,NaN,NaN,Kuwait,NaN,NaN,NaN,Pidgeotto,Rock,NaN,p.rock2281@alumni.stanford.edu,prock44@stanfordalumni.org,NaN,NaN,NaN,NaN,NaN,NaN,"MA '89, JD '95",NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,1996,NaN,NaN,China,NaN,*,p.bug1976@gmail.com,NaN,NaN,China,NaN,NaN,NaN,Pidgey,Bug,NaN,NaN,pidgey.bug167@stanfordalumni.org,NaN,NaN,NaN,NaN,NaN,NaN,"MS '91, MBA '99, PhD '85",NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,1999,*,*,United States,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,Venonat,Normal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MS '87,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,Shanghai,NaN,*,NaN,NaN,celectric2503@stanfordalumni.org,NaN,NaN,China,NaN,NaN,NaN,Chansey,Electric,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,Seoul,NaN,Kuwait,NaN,NaN,NaN,NaN,NaN,USA,NaN,NaN,NaN,Starmie,Steel,NaN,NaN,starmiesteel4365@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,MD '92,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,London,NaN,Japan,NaN,*,ssteel8069@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,Swampert,Steel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"BA '99, BA '93, JD '84",NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,,Chicago,IL,*,NaN,NaN,kakunagrass1913@gmail.com,NaN,NaN,United States,NaN,NaN,NaN,Kakuna,Grass,NaN,NaN,kakunag1724@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,"BA '97, MS '94, MA '90",NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,2008,Seoul,NaN,Kuwait,NaN,NaN,*,NaN,NaN,*,NaN,NaN,NaN,Slaking,Ghost,NaN,s.ghost3043@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,London,NaN,China,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,exeggutordragon4756@stanfordalumni.org,Exeggutor,Dragon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,,Madrid,NaN,NaN,NaN,*,kirlia.fire3119@stanfordalumni.org,NaN,NaN,USA,NaN,NaN,NaN,Kirlia,Fire,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,1998,NaN,NaN,Kuwait,NaN,*,NaN,NaN,NaN,*,NaN,NaN,NaN,Teddiursa,Water,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,"BS '90, MA '84",NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,,Beijing,NaN,,NaN,NaN,*,NaN,NaN,USA,NaN,NaN,NaN,Tangela,Ground,NaN,tangela.ground8852@alumni.stanford.edu,*,NaN,NaN,NaN,NaN,NaN,NaN,PhD '86,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,London,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Phanpy,Psychic,NaN,phanpy.psychic1464@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JD '94,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,Dubai,NaN,Japan,NaN,NaN,anormal5837@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,Articuno,Normal,NaN,NaN,articunonormal8400@stanfordalumni.org,NaN,NaN,NaN,NaN,NaN,NaN,"PhD '80, PhD '84",NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,2006,Chicago,IL,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charmander,Dark,NaN,charmander.dark2478@stanfordalumni.org,cdark9887@alumni.stanford.edu,charmanderd6518@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,PhD '98,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,2000,Madrid,NaN,UAE,NaN,*,*,NaN,NaN,Kuwait,NaN,NaN,NaN,Magneton,Poison,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MBA '91,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,,*,*,Kuwait,NaN,*,slugma.psychic6850@gmail.com,NaN,NaN,Japan,NaN,NaN,NaN,Slugma,Psychic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,,Chicago,IL,United States,NaN,NaN,NaN,NaN,NaN,UAE,NaN,NaN,NaN,Togetic,Dark,NaN,togeticdark4778@stanfordalumni.org,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"BA '81, MS '87, MS '88",NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,Tokyo,NaN,*,NaN,NaN,articunodark4977@stanfordalumni.org,NaN,NaN,*,NaN,NaN,articunodark9576@gmail.com,Articuno,Dark,NaN,articunod6582@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,1990,Tokyo,NaN,United States,NaN,*,slowbrog155@gmail.com,NaN,NaN,*,NaN,NaN,NaN,Slowbro,Grass,NaN,slowbrog352@alumni.stanford.edu,*,NaN,NaN,NaN,NaN,NaN,NaN,"BA '87, PhD '98",NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3970,NaN,2015,Beijing,NaN,China,NaN,*,NaN,NaN,NaN,,NaN,NaN,NaN,Raichu,Ghost,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"JD '82, MD '81, JD '91",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3971,NaN,NaN,Beijing,NaN,Kuwait,NaN,*,NaN,NaN,NaN,*,NaN,NaN,NaN,Meowth,Water,NaN,mwater8892@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"JD '90, MBA '80, JD '81",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3972,NaN,,NaN,NaN,USA,NaN,*,*,NaN,NaN,*,NaN,NaN,NaN,Cloyster,Water,NaN,cwater9253@alumni.stanford.edu,cloysterw2969@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,"BA '90, MS '90, MD '82",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3973,NaN,2003,,,USA,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Spearow,Fire,NaN,NaN,sfire3432@stanfordalumni.org,NaN,NaN,NaN,NaN,NaN,NaN,"BA '92, MS '82, '80",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3974,NaN,2008,Chicago,IL,USA,NaN,*,*,NaN,NaN,USA,NaN,NaN,NaN,Mewtwo,Ghost,NaN,mewtwoghost8659@gmail.com,*,NaN,NaN,NaN,NaN,NaN,NaN,"BS '93, '81",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3975,NaN,,Tokyo,NaN,Kuwait,NaN,*,NaN,NaN,NaN,UAE,NaN,NaN,NaN,Politoed,Electric,NaN,pelectric4520@alumni.stanford.edu,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3976,NaN,2003,Madrid,NaN,,NaN,*,*,NaN,NaN,USA,NaN,NaN,NaN,Furret,Steel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MA '93, '86, JD '95",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3977,NaN,1998,NaN,NaN,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swinub,Fighting,NaN,swinubfighting8161@alumni.stanford.edu,*,NaN,NaN,NaN,NaN,NaN,NaN,"MS '91, BS '88",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3978,NaN,NaN,Shanghai,NaN,China,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Poliwag,Dragon,NaN,p.dragon6341@gmail.com,poliwagdragon9912@stanfordalumni.org,NaN,NaN,NaN,NaN,NaN,NaN,"JD '96, JD '93, BS '86",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3979,NaN,,Shanghai,NaN,Kuwait,NaN,NaN,*,NaN,NaN,Kuwait,NaN,NaN,NaN,Venomoth,Water,NaN,venomothw6296@stanfordalumni.org,vwater4129@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,"MD '97, '91",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3980,NaN,NaN,*,*,USA,NaN,*,*,NaN,NaN,NaN,NaN,NaN,NaN,Arbok,Bug,NaN,arbokbug8455@gmail.com,*,NaN,NaN,NaN,NaN,NaN,NaN,"PhD '92, MA '96, MS '80",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3981,NaN,NaN,Chicago,IL,Japan,NaN,*,cdark1018@gmail.com,NaN,NaN,,NaN,NaN,NaN,Charmeleon,Dark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3982,NaN,,Seoul,NaN,,NaN,*,NaN,NaN,NaN,USA,NaN,NaN,NaN,Victreebel,Rock,NaN,victreebelrock4790@gmail.com,NaN,victreebel.rock7803@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3983,NaN,NaN,Dubai,NaN,Japan,NaN,NaN,mukfairy3596@gmail.com,NaN,NaN,Kuwait,NaN,NaN,NaN,Muk,Fairy,NaN,mukf7881@stanfordalumni.org,mukfairy2304@stanfordalumni.org,NaN,NaN,NaN,NaN,NaN,NaN,BS '91,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3984,NaN,NaN,*,*,China,NaN,*,cdark665@stanfordalumni.org,NaN,NaN,UAE,NaN,NaN,NaN,Chinchou,Dark,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3985,NaN,2001,*,*,NaN,NaN,NaN,s.rock1901@stanfordalumni.org,NaN,NaN,United States,NaN,NaN,sudowoodor7887@stanfordalumni.org,Sudowoodo,Rock,NaN,NaN,sudowoodorock2497@stanfordalumni.org,NaN,NaN,NaN,NaN,NaN,NaN,"MD '94, MBA '86, MA '86",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3986,NaN,,Dubai,NaN,UAE,NaN,NaN,NaN,NaN,NaN,UAE,NaN,NaN,NaN,Mantine,Ground,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,"MS '84, PhD '89, MD '80",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3987,NaN,2014,*,*,,NaN,*,NaN,NaN,NaN,China,NaN,NaN,NaN,Omastar,Steel,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,MD '99,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3988,NaN,1990,London,NaN,United States,NaN,*,*,NaN,NaN,UAE,NaN,NaN,venonatghost6869@gmail.com,Venonat,Ghost,NaN,NaN,venonatg1853@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,"BS '89, MBA '97, '86",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3989,NaN,NaN,Boston,MA,*,NaN,*,*,NaN,NaN,,NaN,NaN,s.dragon5733@gmail.com,Sunflora,Dragon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,'83,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3990,NaN,2016,,,,NaN,*,*,NaN,NaN,NaN,NaN,NaN,n.steel1084@alumni.stanford.edu,Natu,Steel,NaN,natu.steel7492@gmail.com,nsteel5187@stanfordalumni.org,NaN,NaN,NaN,NaN,NaN,NaN,MS '88,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3991,NaN,,Tokyo,NaN,Kuwait,NaN,NaN,NaN,NaN,NaN,Kuwait,NaN,NaN,NaN,Onix,Ghost,NaN,o.ghost412@gmail.com,NaN,oghost1915@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,"MD '95, MBA '98",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3992,NaN,,Chicago,IL,UAE,NaN,*,arcaninei1661@alumni.stanford.edu,NaN,NaN,USA,NaN,NaN,NaN,Arcanine,Ice,NaN,NaN,arcanineice9349@alumni.stanford.edu,aice1621@gmail.com,NaN,NaN,NaN,NaN,NaN,"JD '96, PhD '90, BA '80",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3993,NaN,NaN,Tokyo,NaN,China,NaN,626 2297-731,gligarelectric9485@gmail.com,NaN,NaN,United States,NaN,NaN,gligare6547@gmail.com,Gligar,Electric,NaN,gligarelectric3104@alumni.stanford.edu,gligar.electric6452@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,"MA '93, MBA '94, MD '87",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3994,NaN,NaN,Shanghai,NaN,Japan,NaN,NaN,dunsparcedark6790@stanfordalumni.org,NaN,NaN,UAE,NaN,NaN,NaN,Dunsparce,Dark,NaN,dunsparcedark295@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"JD '87, MS '92",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3995,NaN,,Beijing,NaN,,NaN,NaN,selectric6927@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,Smeargle,Electric,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3996,NaN,1992,Shanghai,NaN,Kuwait,NaN,*,*,NaN,NaN,USA,NaN,NaN,NaN,Kabutops,Steel,NaN,k.steel3283@stanfordalumni.org,k.steel5989@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,"JD '84, MD '90, MBA '80",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3997,NaN,,Shanghai,NaN,NaN,NaN,NaN,*,NaN,NaN,United States,NaN,NaN,NaN,Slowking,Dragon,NaN,NaN,slowkingd2806@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,MS '90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3998,NaN,NaN,Shanghai,NaN,*,NaN,NaN,*,NaN,NaN,,NaN,NaN,NaN,Larvitar,Electric,NaN,l.electric5116@stanfordalumni.org,lelectric1814@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,"MD '86, MBA '84",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3999,NaN,NaN,*,*,*,NaN,NaN,NaN,NaN,NaN,Japan,NaN,NaN,NaN,Ursaring,Dark,NaN,u.dark1810@alumni.stanford.edu,udark6908@stanfordalumni.org,NaN,NaN,NaN,NaN,NaN,NaN,"MS '81, JD '94, BS '98",NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Making mail chimp records

In [260]:
df_mc = pd.read_csv('data/MailChimp cleaned records headers.csv')
df_mc

Empty DataFrame
Columns: [Email Address, First Name, Last Name, Board Member, Gender, Chapter, Reunion Year, Country, Degree, MEMBER_RATING, OPTIN_TIME, OPTIN_IP, CONFIRM_TIME, CONFIRM_IP, LATITUDE, LONGITUDE, GMTOFF, DSTOFF, TIMEZONE, CC, REGION, CLEAN_TIME, CLEAN_CAMPAIGN_TITLE, CLEAN_CAMPAIGN_ID, LEID, EUID, NOTES, TAGS]
Index: []

In [261]:
df_mc = df_mc.append([np.nan]*5).drop(columns=0)

C:\Users\saads\AppData\Local\Temp\ipykernel_10524\3712233133.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_mc = df_mc.append([np.nan]*5).drop(columns=0)

In [319]:
# First record. No major difference other than email
rec = df_SAA.loc[74]
i = 0
df_mc.loc[i,'First Name'] = rec.first_name
df_mc.loc[i,'Last Name'] = rec.last_name
df_mc.loc[i,'Email Address'] = rec.saa_email_address.split('@')[0]+'@gmail.com'
df_mc.loc[i,'Country'] = rec.home_country
df_mc.loc[i,'Degree'] = random.choice([np.nan,''])

df_mc.loc[i,'Board Member'] = random.choice([True,False])
df_mc.loc[i,'Gender'] = random.choice(['F','M',np.nan])
df_mc.loc[i,'Chapter'] = random.choice(['Other US','Texas','Bay Area','DC Area','New England'])

In [320]:
# Second record. USA == United States. Different email
rec = df_SAA.loc[34]
i=1

df_mc.loc[i,'First Name'] = rec.first_name
df_mc.loc[i,'Last Name'] = rec.last_name
df_mc.loc[i,'Email Address'] = createRandomEmail(rec)
df_mc.loc[i,'Country'] = 'United States'
# df_mc.loc[i,'Degree'] = random.choice([np.nan,''])

df_mc.loc[i,'Board Member'] = random.choice([True,False])
df_mc.loc[i,'Gender'] = random.choice(['F','M',np.nan])
df_mc.loc[i,'Chapter'] = random.choice(['Other US','Texas','Bay Area','DC Area','New England'])

# Third record. Missing 1 degree. Different country. Different email
rec = df_SAA.loc[30]
i=2
df_mc.loc[i,'First Name'] = rec.first_name
df_mc.loc[i,'Last Name'] = rec.last_name
df_mc.loc[i,'Email Address'] = 'rhydonghost7966@alumni.stanford.edu'
df_mc.loc[i,'Country'] = 'USA'
df_mc.loc[i,'Degree'] = 'MBA'

df_mc.loc[i,'Board Member'] = random.choice([True,False])
df_mc.loc[i,'Gender'] = random.choice(['F','M',np.nan])
df_mc.loc[i,'Chapter'] = random.choice(['Other US','Texas','Bay Area','DC Area','New England'])

In [321]:
# 4th record. Has a degree on mail chimp side
rec = df_SAA.loc[92]
i=3
df_mc.loc[i,'First Name'] = rec.first_name
df_mc.loc[i,'Last Name'] = rec.last_name
df_mc.loc[i,'Email Address'] = createRandomEmail(rec)
df_mc.loc[i,'Country'] = 'Japan'
df_mc.loc[i,'Degree'] = 'MS'

df_mc.loc[i,'Board Member'] = random.choice([True,False])
df_mc.loc[i,'Gender'] = random.choice(['F','M',np.nan])
df_mc.loc[i,'Chapter'] = random.choice(['Other US','Texas','Bay Area','DC Area','New England'])

In [322]:
# 5th record. Missing all degrees
rec = df_SAA.loc[101]
i=4

df_mc.loc[i,'First Name'] = rec.first_name
df_mc.loc[i,'Last Name'] = rec.last_name
df_mc.loc[i,'Email Address'] = createRandomEmail(rec)
df_mc.loc[i,'Country'] = 'United States'
df_mc.loc[i,'Degree'] = random.choice([np.nan,''])

df_mc.loc[i,'Board Member'] = random.choice([True,False])
df_mc.loc[i,'Gender'] = random.choice(['F','M',np.nan])
df_mc.loc[i,'Chapter'] = random.choice(['Other US','Texas','Bay Area','DC Area','New England'])

In [326]:
# 6th record. Changed last name
rec = df_SAA.loc[13]
i=5
df_mc.loc[i,'First Name'] = rec.first_name
df_mc.loc[i,'Last Name'] = random.choice(common_LNames)
df_mc.loc[i,'Email Address'] = rec.home_email_address.split('@')[0]+'@gmail.com'
df_mc.loc[i,'Country'] = 'USA'
df_mc.loc[i,'Degree'] = random.choice([np.nan,''])

df_mc.loc[i,'Board Member'] = random.choice([True,False])
df_mc.loc[i,'Gender'] = random.choice(['F','M',np.nan])
df_mc.loc[i,'Chapter'] = random.choice(['Other US','Texas','Bay Area','DC Area','New England'])

In [327]:
# 7th record. mostly empty mail chimp record
random_country = list(pycountry.countries)
random.shuffle(random_country)

rec = df_SAA.loc[600]
i=6
df_mc.loc[i,'First Name'] = rec.first_name
df_mc.loc[i,'Last Name'] = rec.last_name
df_mc.loc[i,'Email Address'] = rec.home_email_address.split('@')[0]+'@gmail.com'
df_mc.loc[i,'Country'] = random_country[0].official_name
df_mc.loc[i,'Degree'] = random.choice([np.nan,''])

df_mc.loc[i,'Board Member'] = random.choice([True,False])
df_mc.loc[i,'Gender'] = random.choice(['F','M',np.nan])
df_mc.loc[i,'Chapter'] = random.choice(['Other US','Texas','Bay Area','DC Area','New England'])

In [328]:
df_mc

,Email Address,First Name,Last Name,Board Member,Gender,Chapter,Reunion Year,Country,Degree,MEMBER_RATING,OPTIN_TIME,OPTIN_IP,CONFIRM_TIME,CONFIRM_IP,LATITUDE,LONGITUDE,GMTOFF,DSTOFF,TIMEZONE,CC,REGION,CLEAN_TIME,CLEAN_CAMPAIGN_TITLE,CLEAN_CAMPAIGN_ID,LEID,EUID,NOTES,TAGS
0,slakoth.normal6516@gmail.com,Slakoth,Normal,False,M,Texas,NaN,Kuwait,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,e.rock7358@gmail.com,Espeon,Rock,True,NaN,New England,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,rhydonghost7966@alumni.stanford.edu,Rhydon,Ghost,True,NaN,Bay Area,NaN,USA,MBA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,porygongrass8812@gmail.com,Porygon,Grass,True,F,Bay Area,NaN,Japan,MS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,tangelagrass6958@stanfordalumni.org,Tangela,Grass,False,F,Bay Area,NaN,United States,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,celectric2503@gmail.com,Chansey,Fairy,True,NaN,Other US,NaN,USA,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,blisseyg9366@gmail.com,Blissey,Ghost,True,NaN,New England,NaN,Kingdom of Saudi Arabia,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [330]:
df_mc.to_csv('data/Fake_MailChimp_cleaned_Pokemon.csv',index=False)