In [1]:
top_10_male_Fnames = [
    'Liam',
    'Noah',
    'Oliver',
    'Elijah',
    'James',
    'William',
    'Benjamin',
    'Lucas',
    'Henry',
    'Theodore',
    'Jack',
    'Levi',
    'Alexander',
    'Jackson',
    'Mateo',
    'Daniel',
    'Michael',
    'Mason',
    'Sebastian',
    'Ethan',
]

In [3]:
top_10_female_Fnames = [
    'Mary',
    'Patricia',
    'Jennifer',
    'Linda',
    'Elizabeth',
    'Barbara',
    'Susan',
    'Jessica',
    'Sarah',
    'Karen',
    'Lisa',
    'Nancy',
    'Betty',
    'Margaret',
    'Sandra',
    'Ashley',
    'Kimberly',
    'Emily',
    'Donna',
    'Michelle',
]

In [5]:
top_10_LNames = ['Smith',
'Johnson',
'Williams',
'Brown',
'Jones',
'Garcia',
'Miller',
'Davis',
'Rodriguez',
'Martinez',
'Hernandez',
'Lopez',
'Gonzalez',
'Wilson',
'Anderson',
'Thomas',
'Taylor',
'Moore',
'Jackson',
'Martin',]

In [40]:
import pandas as pd
import numpy as np
import random 

num_ofDesiredRecords = 10

In [13]:
df_SAA = pd.read_excel("./data/SAA Pride member reports headings.xlsx")

In [14]:
df_SAA

Empty DataFrame
Columns: [pref_mail_name, pref_class_year, home_city, home_state_code, home_country, home_phone_area_code, home_phone_number, home_email_address, bus_city, bus_state_code, bus_country, bus_phone_area_code, bus_phone_number, bus_email_address, first_name, last_name, pref_name_sort, email_switch, saa_email_address, gsb_email_address, other_email_address, pref_phone_area_code, pref_phone_number, pref_phone_addr_type, memb_status_desc, short_degree_string, parent_degree_string, short_degree_string_spouse, parent_degree_string_spouse, primary_sort_name, plan_name, primary_ind]
Index: []

[0 rows x 32 columns]

In [18]:
df_SAA.shape

(0, 32)

In [21]:
df_SAA.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   pref_mail_name               0 non-null      object
 1   pref_class_year              0 non-null      object
 2   home_city                    0 non-null      object
 3   home_state_code              0 non-null      object
 4   home_country                 0 non-null      object
 5   home_phone_area_code         0 non-null      object
 6   home_phone_number            0 non-null      object
 7   home_email_address           0 non-null      object
 8   bus_city                     0 non-null      object
 9   bus_state_code               0 non-null      object
 10  bus_country                  0 non-null      object
 11  bus_phone_area_code          0 non-null      object
 12  bus_phone_number             0 non-null      object
 13  bus_email_address            0 non-null      object
 14  first_name                   0 non-null      object
 15  last_name                    0 non-null      object
 16  pref_name_sort               0 non-null      object
 17  email_switch                 0 non-null      object
 18  saa_email_address            0 non-null      object
 19  gsb_email_address            0 non-null      object
 20  other_email_address          0 non-null      object
 21  pref_phone_area_code         0 non-null      object
 22  pref_phone_number            0 non-null      object
 23  pref_phone_addr_type         0 non-null      object
 24  memb_status_desc             0 non-null      object
 25  short_degree_string          0 non-null      object
 26  parent_degree_string         0 non-null      object
 27  short_degree_string_spouse   0 non-null      object
 28  parent_degree_string_spouse  0 non-null      object
 29  primary_sort_name            0 non-null      object
 30  plan_name                    0 non-null      object
 31  primary_ind                  0 non-null      object
dtypes: object(32)
memory usage: 0.0+ bytes

In [39]:
df_SAA.append([None]*num_ofDesiredRecords)

C:\Users\saads\AppData\Local\Temp\ipykernel_19972\1549327529.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_SAA.append([None]*num_ofDesiredRecords)

,pref_mail_name,pref_class_year,home_city,home_state_code,home_country,home_phone_area_code,home_phone_number,home_email_address,bus_city,bus_state_code,...,pref_phone_addr_type,memb_status_desc,short_degree_string,parent_degree_string,short_degree_string_spouse,parent_degree_string_spouse,primary_sort_name,plan_name,primary_ind,0
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None

In [50]:
def createRandomPhoneNumber():
    range_start = 10**9
    range_end = 10**10 -1
    print(range_start)
    num = random.randint(range_start,range_end)    
    
    return num

In [51]:
createRandomPhoneNumber()

1000000000

5116469881