In [11]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics.pairwise import cosine_similarity

In [12]:
mailchimp_data = pd.read_csv('./MailChimp_cleaned_records_headers.csv')
pd.set_option('max_columns', None)
mailchimp_data

Empty DataFrame
Columns: [Email Address, First Name, Last Name, Board Member, Gender, Chapter, Reunion Year, Country, Degree, MEMBER_RATING, OPTIN_TIME, OPTIN_IP, CONFIRM_TIME, CONFIRM_IP, LATITUDE, LONGITUDE, GMTOFF, DSTOFF, TIMEZONE, CC, REGION, CLEAN_TIME, CLEAN_CAMPAIGN_TITLE, CLEAN_CAMPAIGN_ID, LEID, EUID, NOTES, TAGS]
Index: []

In [13]:
# mailchimp_data.drop(['Board Member', 'Gender', 'Reunion Year',\
#                      'Country', 'Degree', 'MEMBER_RATING',\
#                      'OPTIN_TIME', 'OPTIN_IP', 'CONFIRM_TIME',\
#                      'CONFIRM_IP', 'LATITUDE','LONGITUDE', 'GMTOFF',\
#                      'DSTOFF', 'TIMEZONE', 'CC', 'REGION', 'LEID',\
#                      'EUID', 'NOTES', 'TAGS'], axis =1, inplace=True)
# mailchimp_data

The mailchimp dataset comes from the salesforce dataset. This Cleaned dataset would only include emails that have bounced for one reason or another. It will not include any members who have opted out of the email service or those that are receiving emails without any complications. It is important to note that updating information within salesforce for those who have opted out may re-instantiate the email services so we are specifically working with cleaned/bounced records. Additionally, the datasets created for those who are Subscribed and Unsubscribed will have different column names than the Cleaned dataset here (ie Clean_Time, Clean_campaign_title, ect). Therefore any function created here may not work for those datasets.

In [14]:
saa_pride_data = pd.read_excel('./SAA Pride member reports headings.xlsx')
saa_pride_data.reset_index(inplace = True)
saa_pride_data

Empty DataFrame
Columns: [index, pref_mail_name, pref_class_year, home_city, home_state_code, home_country, home_phone_area_code, home_phone_number, home_email_address, bus_city, bus_state_code, bus_country, bus_phone_area_code, bus_phone_number, bus_email_address, first_name, last_name, pref_name_sort, email_switch, saa_email_address, gsb_email_address, other_email_address, pref_phone_area_code, pref_phone_number, pref_phone_addr_type, memb_status_desc, short_degree_string, parent_degree_string, short_degree_string_spouse, parent_degree_string_spouse, primary_sort_name, plan_name, primary_ind]
Index: []

In [15]:
# saa_pride_data.drop(['home_country', 'home_phone_area_code',\
#                      'home_phone_number', 'bus_city', 'bus_state_code',\
#                     'bus_country', 'bus_phone_area_code',\
#                      'bus_phone_number', 'bus_email_address',
#                     'pref_phone_area_code', 'pref_phone_addr_type',
#                     'memb_status_desc', 'parent_degree_string', \
#                     'short_degree_string_spouse', 
#                      'parent_degree_string_spouse', 'primary_sort_name',\
#                     'plan_name', 'primary_ind'], axis =1, inplace=True)
# saa_pride_data

The Stanford Alumni Association has it's own dataset that may or may not have additional or more recent data on some of the members. It may also have outdated data. Students are given an email but when they become alumni the email needs to be updated. Whether it is updated to specifically an 'alumni.stanford.edu' address or to another would be at the students discrepancy and isn't always updated.

In [16]:
combined_data = mailchimp_data.merge(saa_pride_data,\
                                     left_on =['First Name', 'Last Name'],\
                                     right_on=['first_name', 'last_name'],\
                                     how='outer')
combined_data

Empty DataFrame
Columns: [Email Address, First Name, Last Name, Board Member, Gender, Chapter, Reunion Year, Country, Degree, MEMBER_RATING, OPTIN_TIME, OPTIN_IP, CONFIRM_TIME, CONFIRM_IP, LATITUDE, LONGITUDE, GMTOFF, DSTOFF, TIMEZONE, CC, REGION, CLEAN_TIME, CLEAN_CAMPAIGN_TITLE, CLEAN_CAMPAIGN_ID, LEID, EUID, NOTES, TAGS, index, pref_mail_name, pref_class_year, home_city, home_state_code, home_country, home_phone_area_code, home_phone_number, home_email_address, bus_city, bus_state_code, bus_country, bus_phone_area_code, bus_phone_number, bus_email_address, first_name, last_name, pref_name_sort, email_switch, saa_email_address, gsb_email_address, other_email_address, pref_phone_area_code, pref_phone_number, pref_phone_addr_type, memb_status_desc, short_degree_string, parent_degree_string, short_degree_string_spouse, parent_degree_string_spouse, primary_sort_name, plan_name, primary_ind]
Index: []

In [17]:
saa_pride_data

Empty DataFrame
Columns: [index, pref_mail_name, pref_class_year, home_city, home_state_code, home_country, home_phone_area_code, home_phone_number, home_email_address, bus_city, bus_state_code, bus_country, bus_phone_area_code, bus_phone_number, bus_email_address, first_name, last_name, pref_name_sort, email_switch, saa_email_address, gsb_email_address, other_email_address, pref_phone_area_code, pref_phone_number, pref_phone_addr_type, memb_status_desc, short_degree_string, parent_degree_string, short_degree_string_spouse, parent_degree_string_spouse, primary_sort_name, plan_name, primary_ind]
Index: []

In [18]:
saa_mock = pd.read_excel('../data/SAA_FakeDB.xlsx')
saa_mock

,pref_mail_name,pref_class_year,home_city,home_state_code,home_country,home_phone_area_code,home_phone_number,home_email_address,bus_city,bus_state_code,bus_country,bus_phone_area_code,bus_phone_number,bus_email_address,first_name,last_name,pref_name_sort,email_switch,saa_email_address,gsb_email_address,other_email_address,pref_phone_area_code,pref_phone_number,pref_phone_addr_type,memb_status_desc,short_degree_string,parent_degree_string,short_degree_string_spouse,parent_degree_string_spouse,primary_sort_name,plan_name,primary_ind,0
0,NaN,NaN,London,NaN,NaN,NaN,NaN,*,NaN,NaN,Kuwait,NaN,NaN,NaN,Linda,Brown,NaN,NaN,lindab1567@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,"PhD '94, BA '82",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Madrid,NaN,Japan,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,Mary,Rodriguez,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,"MA '85, BS '92",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Shanghai,NaN,USA,NaN,898 7073-217,NaN,NaN,NaN,UAE,NaN,NaN,NaN,Sarah,Rodriguez,NaN,NaN,sarah.rodriguez992@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,"BS '88, BS '95, MA '85",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Chicago,IL,UAE,NaN,NaN,NaN,NaN,NaN,China,NaN,NaN,NaN,Jessica,Jones,NaN,NaN,jessicaj5803@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,MBA '81,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,1994.0,Seoul,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jessica,Martinez,NaN,NaN,jessicamartinez1707@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NaN,NaN,Beijing,NaN,UAE,NaN,NaN,NaN,NaN,NaN,USA,NaN,NaN,NaN,Oliver,Rodriguez,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,NaN,NaN,Seoul,NaN,UAE,NaN,NaN,*,NaN,NaN,Kuwait,NaN,NaN,NaN,James,Brown,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,"BS '94, MS '92",NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,NaN,NaN,Beijing,NaN,UAE,NaN,NaN,elizabeth.martinez6250@gmail.com,NaN,NaN,Japan,NaN,NaN,NaN,Elizabeth,Martinez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"'85, MBA '87, '92",NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,NaN,2011.0,NaN,NaN,*,NaN,NaN,sbrown7443@stanfordalumni.org,NaN,NaN,Japan,NaN,NaN,NaN,Sarah,Brown,NaN,NaN,sarahb7790@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,"PhD '84, MS '91",NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,NaN,NaN,Shanghai,NaN,*,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Elizabeth,Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MS '83,NaN,NaN,NaN,NaN,NaN,NaN,NaN

A random mock dataset was produced from the format of the SAA database for a proof of concept.

In [19]:
# Filter necessary columns
saa_mock2 = saa_mock.filter(['home_country', 'home_email_address',\
                 'bus_email_address', 'first_name', 'last_name', 'email_switch',\
                'saa_email_address', 'gsb_email_address', 'other_email_address',])
saa_mock2

,home_country,home_email_address,bus_email_address,first_name,last_name,email_switch,saa_email_address,gsb_email_address,other_email_address
0,NaN,*,NaN,Linda,Brown,NaN,lindab1567@alumni.stanford.edu,NaN,NaN
1,Japan,*,NaN,Mary,Rodriguez,NaN,*,NaN,NaN
2,USA,NaN,NaN,Sarah,Rodriguez,NaN,sarah.rodriguez992@alumni.stanford.edu,NaN,NaN
3,UAE,NaN,NaN,Jessica,Jones,NaN,jessicaj5803@alumni.stanford.edu,NaN,NaN
4,*,NaN,NaN,Jessica,Martinez,NaN,jessicamartinez1707@alumni.stanford.edu,NaN,NaN
...,...,...,...,...,...,...,...,...,...
95,UAE,NaN,NaN,Oliver,Rodriguez,NaN,*,NaN,NaN
96,UAE,*,NaN,James,Brown,NaN,*,NaN,NaN
97,UAE,elizabeth.martinez6250@gmail.com,NaN,Elizabeth,Martinez,NaN,NaN,NaN,NaN
98,*,sbrown7443@stanfordalumni.org,NaN,Sarah,Brown,NaN,sarahb7790@alumni.stanford.edu,NaN,NaN
99,*,NaN,NaN,Elizabeth,Smith,NaN,NaN,NaN,NaN

In [20]:
# Need to split short_degree_string for OneHotEncoding
# saa_mock2.short_degree_string[0]

In [21]:
# saa_mock2['short_degree_string'] = saa_mock2['short_degree_string'].str.split()

KeyError: 'short_degree_string'

In [ ]:
# unique_degree_list = []
# for degrees in saa_mock2['short_degree_string'].dropna().tolist():
#     for degree in degrees:
#         unique_degree_list.append(degree)
# unique_degree_list =list(set(unique_degree_list))
# unique_degree_list

In [22]:
mailchimp_mock = pd.read_csv('../data/Fake_MailChimp_cleaned.csv')
mailchimp_mock

,Unnamed: 0,Email Address,First Name,Last Name,Board Member,Gender,Chapter,Reunion Year,Country,Degree,MEMBER_RATING,OPTIN_TIME,OPTIN_IP,CONFIRM_TIME,CONFIRM_IP,LATITUDE,LONGITUDE,GMTOFF,DSTOFF,TIMEZONE,CC,REGION,CLEAN_TIME,CLEAN_CAMPAIGN_TITLE,CLEAN_CAMPAIGN_ID,LEID,EUID,NOTES,TAGS,0
0,0,brodriguez369@gmail.com,Barbara,Rodriguez,True,NaN,New England,NaN,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,liamjones7027@stanfordalumni.org,Liam,Jones,False,M,Bay Area,NaN,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,lindam7966@alumni.stanford.edu,Liam,Rodriguez,True,NaN,Bay Area,NaN,USA,MD;MA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,liam.garcia7988@stanfordalumni.org,Liam,Garcia,True,F,New England,NaN,USA,MS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,m.davis4650@gmail.com,Mary,Johnson,True,NaN,Texas,NaN,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# Filter necessary columns
mailchimp_mock2 = mailchimp_mock.filter(['Email Address', 'First Name', 'Last Name',\
                    'Country'])
mailchimp_mock2

                        Email Address First Name  Last Name Country
0             brodriguez369@gmail.com    Barbara  Rodriguez     USA
1    liamjones7027@stanfordalumni.org       Liam      Jones     USA
2      lindam7966@alumni.stanford.edu       Liam  Rodriguez     USA
3  liam.garcia7988@stanfordalumni.org       Liam     Garcia     USA
4               m.davis4650@gmail.com       Mary    Johnson     USA

### Similarity Function Building (Cosine)

In [24]:
# First we take a row we are trying to identify.
target = mailchimp_mock2.iloc[0]
target

Email Address    brodriguez369@gmail.com
First Name                       Barbara
Last Name                      Rodriguez
Country                              USA
Name: 0, dtype: object

In [25]:
target_dict = {'first_name': target[1], 'last_name': target[2],\
               'saa_email_address': target[0],
               'home_email_address': target[0],
               'bus_email_address': target[0],
               'email_switch': target[0],
               'gsb_email_address': target[0],
               'other_email_address': target[0],
               'home_country': target[3]}
saa_mock2 = saa_mock2.append(target_dict, ignore_index = True)
saa_mock2

,home_country,home_email_address,bus_email_address,first_name,last_name,email_switch,saa_email_address,gsb_email_address,other_email_address
0,NaN,*,NaN,Linda,Brown,NaN,lindab1567@alumni.stanford.edu,NaN,NaN
1,Japan,*,NaN,Mary,Rodriguez,NaN,*,NaN,NaN
2,USA,NaN,NaN,Sarah,Rodriguez,NaN,sarah.rodriguez992@alumni.stanford.edu,NaN,NaN
3,UAE,NaN,NaN,Jessica,Jones,NaN,jessicaj5803@alumni.stanford.edu,NaN,NaN
4,*,NaN,NaN,Jessica,Martinez,NaN,jessicamartinez1707@alumni.stanford.edu,NaN,NaN
...,...,...,...,...,...,...,...,...,...
96,UAE,*,NaN,James,Brown,NaN,*,NaN,NaN
97,UAE,elizabeth.martinez6250@gmail.com,NaN,Elizabeth,Martinez,NaN,NaN,NaN,NaN
98,*,sbrown7443@stanfordalumni.org,NaN,Sarah,Brown,NaN,sarahb7790@alumni.stanford.edu,NaN,NaN
99,*,NaN,NaN,Elizabeth,Smith,NaN,NaN,NaN,NaN
100,USA,brodriguez369@gmail.com,brodriguez369@gmail.com,Barbara,Rodriguez,brodriguez369@gmail.com,brodriguez369@gmail.com,brodriguez369@gmail.com,brodriguez369@gmail.com

In [26]:
# We then subset the SAA data by the first name
saa_mock2.fillna(value='Not Available', inplace=True)
sub_saa = saa_mock2[saa_mock2['first_name'] == target[1]].astype(str)
sub_saa

,home_country,home_email_address,bus_email_address,first_name,last_name,email_switch,saa_email_address,gsb_email_address,other_email_address
28,*,barbara.smith9669@gmail.com,Not Available,Barbara,Smith,Not Available,b.smith5277@stanfordalumni.org,Not Available,Not Available
66,Not Available,Not Available,bjohnson6108@stanfordalumni.org,Barbara,Johnson,Not Available,*,barbaraj9242@gmail.com,Not Available
73,USA,brodriguez369@stanfordalumni.org,Not Available,Barbara,Rodriguez,Not Available,barbara.rodriguez5922@stanfordalumni.org,brodriguez2537@alumni.stanford.edu,Not Available
76,UAE,*,Not Available,Barbara,Rodriguez,Not Available,barbara.rodriguez2112@stanfordalumni.org,Not Available,Not Available
100,USA,brodriguez369@gmail.com,brodriguez369@gmail.com,Barbara,Rodriguez,brodriguez369@gmail.com,brodriguez369@gmail.com,brodriguez369@gmail.com,brodriguez369@gmail.com

In [27]:
# Now we one hot encode the subset
sub_saa.fillna(value='Not Available', inplace=True)

In [28]:
def ohe(df, column):    
    for col in column:
        train = df[[col]]
        ohe = OneHotEncoder(sparse=False, handle_unknown="error")
        ohe.fit(train)
        encoded_train = ohe.transform(train)
        col_names = [f"{col}_{f}" for f in ohe.get_feature_names()]
        encoded_train = pd.DataFrame(encoded_train,
                                     columns=col_names, index=df.index)
        df = pd.concat([df, encoded_train], axis=1)
        
    return df

In [29]:
cols = list(sub_saa.columns.values)
cols

['home_country',
 'home_email_address',
 'bus_email_address',
 'first_name',
 'last_name',
 'email_switch',
 'saa_email_address',
 'gsb_email_address',
 'other_email_address']

In [30]:
new_df = ohe(sub_saa, cols)

In [31]:
new_df = new_df.drop(cols, axis=1)

In [32]:
new_df

,home_country_x0_*,home_country_x0_Not Available,home_country_x0_UAE,home_country_x0_USA,home_email_address_x0_*,home_email_address_x0_Not Available,home_email_address_x0_barbara.smith9669@gmail.com,home_email_address_x0_brodriguez369@gmail.com,home_email_address_x0_brodriguez369@stanfordalumni.org,bus_email_address_x0_Not Available,bus_email_address_x0_bjohnson6108@stanfordalumni.org,bus_email_address_x0_brodriguez369@gmail.com,first_name_x0_Barbara,last_name_x0_Johnson,last_name_x0_Rodriguez,last_name_x0_Smith,email_switch_x0_Not Available,email_switch_x0_brodriguez369@gmail.com,saa_email_address_x0_*,saa_email_address_x0_b.smith5277@stanfordalumni.org,saa_email_address_x0_barbara.rodriguez2112@stanfordalumni.org,saa_email_address_x0_barbara.rodriguez5922@stanfordalumni.org,saa_email_address_x0_brodriguez369@gmail.com,gsb_email_address_x0_Not Available,gsb_email_address_x0_barbaraj9242@gmail.com,gsb_email_address_x0_brodriguez2537@alumni.stanford.edu,gsb_email_address_x0_brodriguez369@gmail.com,other_email_address_x0_Not Available,other_email_address_x0_brodriguez369@gmail.com
28,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
66,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
73,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
76,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
100,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0

In [33]:
y = np.array(new_df.iloc[-1])
y = y.reshape(1, -1)
y

array([[0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1., 1., 0., 1., 0.,
        0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 1.]])

In [34]:
cos_sim = cosine_similarity(new_df, y)

In [35]:
cos_sim = pd.DataFrame(data=cos_sim, index=new_df.index).sort_values(by=0, ascending=False) #[1:]
cos_sim

            0
100  1.000000
73   0.333333
76   0.222222
28   0.111111
66   0.111111

In [36]:
results = list(cos_sim.index)
results

[100, 73, 76, 28, 66]

In [37]:
results_df = saa_mock2.loc[results]
# Reset index for better print out
results_df.reset_index(inplace=True)
results_df

,index,home_country,home_email_address,bus_email_address,first_name,last_name,email_switch,saa_email_address,gsb_email_address,other_email_address
0,100,USA,brodriguez369@gmail.com,brodriguez369@gmail.com,Barbara,Rodriguez,brodriguez369@gmail.com,brodriguez369@gmail.com,brodriguez369@gmail.com,brodriguez369@gmail.com
1,73,USA,brodriguez369@stanfordalumni.org,Not Available,Barbara,Rodriguez,Not Available,barbara.rodriguez5922@stanfordalumni.org,brodriguez2537@alumni.stanford.edu,Not Available
2,76,UAE,*,Not Available,Barbara,Rodriguez,Not Available,barbara.rodriguez2112@stanfordalumni.org,Not Available,Not Available
3,28,*,barbara.smith9669@gmail.com,Not Available,Barbara,Smith,Not Available,b.smith5277@stanfordalumni.org,Not Available,Not Available
4,66,Not Available,Not Available,bjohnson6108@stanfordalumni.org,Barbara,Johnson,Not Available,*,barbaraj9242@gmail.com,Not Available

Put into a loop.

In [ ]:
for x in range(len(mailchimp_mock2)):
    target = mailchimp_mock2.iloc[x]
    ect...

## Scratchwork

In [29]:
if str(combined_data['email_switch']).find('(pref)'):
    combined_data['Email Address'] = combined_data['email_switch']

In [30]:
if '(pref)' not in combined_data['email_switch']: 
    pass
else:
    combined_data['Email Address'] = combined_data['email_switch']

In [31]:
name_first = input('First Name: ')
name_last = input('Last Name: ')
pref_email = input('Preferred Email Address: ')

KeyboardInterrupt: Interrupted by user

In [ ]:
def create_df(name1, name2, email):
    new_df = pd.DataFrame(columns=['First_Name', 'Last_Name', 'Preferred_Email'])
    df2 = {'First_Name': name1, 'Last_Name': name2, 'Preferred_Email': email}
    new_df = new_df.append(df2, ignore_index = True)
    return new_df

In [ ]:
df = create_df(name_first, name_last, pref_email)
df

In [ ]:
df2 = {'First Name': 'Harry', 'Last Name': 'Potter', 'Email Address': 'email@email.com'}
combined_data = combined_data.append(df2, ignore_index = True)
combined_data

In [ ]:
df2 = {'First Name': 'Walter', 'Last Name': 'White', 'Email Address': 'science@stanford.edu'}
combined_data = combined_data.append(df2, ignore_index = True)
combined_data

In [ ]:
def update_df(df, name1, name2, email):
    df.at[df.set_index('Email Address').loc[email]['First Name']] = name1
    df.at[df.set_index('First Name').loc[name1]['Preferred Email Address']] = email
    df.at[df.set_index('First Name').loc[name1]['Last Name']] = name2
    return df

In [ ]:
# sub_set = saa_mock.sample(frac=.25, random_state=42)
# sub_set

## Next Steps

Next step would be to take a proactive approach to mitigate the number of emails that bounce in the future. I would suggest using the salesforce dataset to check for recent grads to reach out before they lose their student emails and ask for updated contact information and their subsequent plans after graduation. It would be easier to update records proactively when we still have accurate contact information. For subsequent plans after graduation, this would be to keeping location information of members to more accurately send regional events and functions.