In [45]:
import pandas as pd
import numpy as np

In [24]:
mailchimp_data = pd.read_csv('./MailChimp_cleaned_records_headers.csv')
pd.set_option('max_columns', None)
mailchimp_data

Empty DataFrame
Columns: [Email Address, First Name, Last Name, Board Member, Gender, Chapter, Reunion Year, Country, Degree, MEMBER_RATING, OPTIN_TIME, OPTIN_IP, CONFIRM_TIME, CONFIRM_IP, LATITUDE, LONGITUDE, GMTOFF, DSTOFF, TIMEZONE, CC, REGION, CLEAN_TIME, CLEAN_CAMPAIGN_TITLE, CLEAN_CAMPAIGN_ID, LEID, EUID, NOTES, TAGS]
Index: []

In [11]:
# mailchimp_data.drop(['Board Member', 'Gender', 'Reunion Year',\
#                      'Country', 'Degree', 'MEMBER_RATING',\
#                      'OPTIN_TIME', 'OPTIN_IP', 'CONFIRM_TIME',\
#                      'CONFIRM_IP', 'LATITUDE','LONGITUDE', 'GMTOFF',\
#                      'DSTOFF', 'TIMEZONE', 'CC', 'REGION', 'LEID',\
#                      'EUID', 'NOTES', 'TAGS'], axis =1, inplace=True)
# mailchimp_data

Empty DataFrame
Columns: [Email Address, First Name, Last Name, Chapter, CLEAN_TIME, CLEAN_CAMPAIGN_TITLE, CLEAN_CAMPAIGN_ID]
Index: []

The mailchimp dataset comes from the salesforce dataset. This Cleaned dataset would only include emails that have bounced for one reason or another. It will not include any members who have opted out of the email service or those that are receiving emails without any complications. It is important to note that updating information within salesforce for those who have opted out may re-instantiate the email services so we are specifically working with cleaned/bounced records. Additionally, the datasets created for those who are Subscribed and Unsubscribed will have different column names than the Cleaned dataset here (ie Clean_Time, Clean_campaign_title, ect). Therefore any function created here may not work for those datasets.

In [33]:
saa_pride_data = pd.read_excel('./SAA Pride member reports headings.xlsx')
saa_pride_data.reset_index(inplace = True)
saa_pride_data

Empty DataFrame
Columns: [index, pref_mail_name, pref_class_year, home_city, home_state_code, home_country, home_phone_area_code, home_phone_number, home_email_address, bus_city, bus_state_code, bus_country, bus_phone_area_code, bus_phone_number, bus_email_address, first_name, last_name, pref_name_sort, email_switch, saa_email_address, gsb_email_address, other_email_address, pref_phone_area_code, pref_phone_number, pref_phone_addr_type, memb_status_desc, short_degree_string, parent_degree_string, short_degree_string_spouse, parent_degree_string_spouse, primary_sort_name, plan_name, primary_ind]
Index: []

In [22]:
# saa_pride_data.drop(['home_country', 'home_phone_area_code',\
#                      'home_phone_number', 'bus_city', 'bus_state_code',\
#                     'bus_country', 'bus_phone_area_code',\
#                      'bus_phone_number', 'bus_email_address',
#                     'pref_phone_area_code', 'pref_phone_addr_type',
#                     'memb_status_desc', 'parent_degree_string', \
#                     'short_degree_string_spouse', 
#                      'parent_degree_string_spouse', 'primary_sort_name',\
#                     'plan_name', 'primary_ind'], axis =1, inplace=True)
# saa_pride_data

Empty DataFrame
Columns: [pref_mail_name, pref_class_year, home_city, home_state_code, home_email_address, first_name, last_name, pref_name_sort, email_switch, saa_email_address, gsb_email_address, other_email_address, pref_phone_number, short_degree_string]
Index: []

The Stanford Alumni Association has it's own dataset that may or may not have additional or more recent data on some of the members. It may also have outdated data. Students are given an email but when they become alumni the email needs to be updated. Whether it is updated to specifically an 'alumni.stanford.edu' address or to another would be at the students discrepancy and isn't always updated.

In [26]:
combined_data = mailchimp_data.merge(saa_pride_data,\
                                     left_on =['First Name', 'Last Name'],\
                                     right_on=['first_name', 'last_name'],\
                                     how='outer')
combined_data

Empty DataFrame
Columns: [Email Address, First Name, Last Name, Board Member, Gender, Chapter, Reunion Year, Country, Degree, MEMBER_RATING, OPTIN_TIME, OPTIN_IP, CONFIRM_TIME, CONFIRM_IP, LATITUDE, LONGITUDE, GMTOFF, DSTOFF, TIMEZONE, CC, REGION, CLEAN_TIME, CLEAN_CAMPAIGN_TITLE, CLEAN_CAMPAIGN_ID, LEID, EUID, NOTES, TAGS, pref_mail_name, pref_class_year, home_city, home_state_code, home_country, home_phone_area_code, home_phone_number, home_email_address, bus_city, bus_state_code, bus_country, bus_phone_area_code, bus_phone_number, bus_email_address, first_name, last_name, pref_name_sort, email_switch, saa_email_address, gsb_email_address, other_email_address, pref_phone_area_code, pref_phone_number, pref_phone_addr_type, memb_status_desc, short_degree_string, parent_degree_string, short_degree_string_spouse, parent_degree_string_spouse, primary_sort_name, plan_name, primary_ind]
Index: []

In [34]:
saa_pride_data

Empty DataFrame
Columns: [index, pref_mail_name, pref_class_year, home_city, home_state_code, home_country, home_phone_area_code, home_phone_number, home_email_address, bus_city, bus_state_code, bus_country, bus_phone_area_code, bus_phone_number, bus_email_address, first_name, last_name, pref_name_sort, email_switch, saa_email_address, gsb_email_address, other_email_address, pref_phone_area_code, pref_phone_number, pref_phone_addr_type, memb_status_desc, short_degree_string, parent_degree_string, short_degree_string_spouse, parent_degree_string_spouse, primary_sort_name, plan_name, primary_ind]
Index: []

In [28]:
saa_mock = pd.read_excel('../data/SAA_FakeDB.xlsx')
saa_mock

,pref_mail_name,pref_class_year,home_city,home_state_code,home_country,home_phone_area_code,home_phone_number,home_email_address,bus_city,bus_state_code,bus_country,bus_phone_area_code,bus_phone_number,bus_email_address,first_name,last_name,pref_name_sort,email_switch,saa_email_address,gsb_email_address,other_email_address,pref_phone_area_code,pref_phone_number,pref_phone_addr_type,memb_status_desc,short_degree_string,parent_degree_string,short_degree_string_spouse,parent_degree_string_spouse,primary_sort_name,plan_name,primary_ind,0
0,NaN,NaN,London,NaN,NaN,NaN,NaN,*,NaN,NaN,Kuwait,NaN,NaN,NaN,Linda,Brown,NaN,NaN,lindab1567@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,"PhD '94, BA '82",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Madrid,NaN,Japan,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,Mary,Rodriguez,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,"MA '85, BS '92",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Shanghai,NaN,USA,NaN,898 7073-217,NaN,NaN,NaN,UAE,NaN,NaN,NaN,Sarah,Rodriguez,NaN,NaN,sarah.rodriguez992@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,"BS '88, BS '95, MA '85",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Chicago,IL,UAE,NaN,NaN,NaN,NaN,NaN,China,NaN,NaN,NaN,Jessica,Jones,NaN,NaN,jessicaj5803@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,MBA '81,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,1994.0,Seoul,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jessica,Martinez,NaN,NaN,jessicamartinez1707@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NaN,NaN,Beijing,NaN,UAE,NaN,NaN,NaN,NaN,NaN,USA,NaN,NaN,NaN,Oliver,Rodriguez,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,NaN,NaN,Seoul,NaN,UAE,NaN,NaN,*,NaN,NaN,Kuwait,NaN,NaN,NaN,James,Brown,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,"BS '94, MS '92",NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,NaN,NaN,Beijing,NaN,UAE,NaN,NaN,elizabeth.martinez6250@gmail.com,NaN,NaN,Japan,NaN,NaN,NaN,Elizabeth,Martinez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"'85, MBA '87, '92",NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,NaN,2011.0,NaN,NaN,*,NaN,NaN,sbrown7443@stanfordalumni.org,NaN,NaN,Japan,NaN,NaN,NaN,Sarah,Brown,NaN,NaN,sarahb7790@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,"PhD '84, MS '91",NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,NaN,NaN,Shanghai,NaN,*,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Elizabeth,Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MS '83,NaN,NaN,NaN,NaN,NaN,NaN,NaN

A random mock dataset was produced from the format of the SAA database for a proof of concept.

In [48]:
sub_set = saa_mock.sample(frac=.25, random_state=42)
sub_set

,pref_mail_name,pref_class_year,home_city,home_state_code,home_country,home_phone_area_code,home_phone_number,home_email_address,bus_city,bus_state_code,bus_country,bus_phone_area_code,bus_phone_number,bus_email_address,first_name,last_name,pref_name_sort,email_switch,saa_email_address,gsb_email_address,other_email_address,pref_phone_area_code,pref_phone_number,pref_phone_addr_type,memb_status_desc,short_degree_string,parent_degree_string,short_degree_string_spouse,parent_degree_string_spouse,primary_sort_name,plan_name,primary_ind,0
83,NaN,1992.0,Madrid,NaN,China,NaN,*,*,NaN,NaN,USA,NaN,NaN,NaN,Patricia,Miller,NaN,NaN,pmiller7922@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,JD '80,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,1996.0,Chicago,IL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,h.smith2476@stanfordalumni.org,Henry,Smith,NaN,NaN,henrys723@stanfordalumni.org,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,NaN,NaN,Dubai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United States,NaN,NaN,NaN,Sarah,Williams,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,BA '81,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,Madrid,NaN,NaN,NaN,218 8332-531,NaN,NaN,NaN,Kuwait,NaN,NaN,lucasr8138@stanfordalumni.org,Lucas,Rodriguez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"PhD '97, MS '93, MA '96",NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,*,*,USA,NaN,*,jjones433@stanfordalumni.org,NaN,NaN,NaN,NaN,NaN,NaN,James,Jones,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,"BA '83, JD '97",NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,2001.0,Dubai,NaN,USA,NaN,NaN,noahj7448@gmail.com,NaN,NaN,Japan,NaN,NaN,NaN,Noah,Jones,NaN,NaN,n.jones5978@stanfordalumni.org,NaN,NaN,NaN,NaN,NaN,NaN,"BA '92, JD '89",NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,Tokyo,NaN,China,NaN,NaN,elijahm5586@gmail.com,NaN,NaN,UAE,NaN,NaN,NaN,Elijah,Miller,NaN,NaN,elijahmiller4203@stanfordalumni.org,NaN,NaN,NaN,NaN,NaN,NaN,"JD '97, JD '91",NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,Beijing,NaN,USA,NaN,NaN,l.rodriguez4305@alumni.stanford.edu,NaN,NaN,UAE,NaN,NaN,lrodriguez3310@alumni.stanford.edu,Lucas,Rodriguez,NaN,NaN,lucasrodriguez2772@stanfordalumni.org,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,1996.0,*,*,China,NaN,*,ewilliams4568@stanfordalumni.org,NaN,NaN,NaN,NaN,NaN,NaN,Elijah,Williams,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"JD '87, BS '91, '84",NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,London,NaN,NaN,NaN,NaN,*,NaN,NaN,Kuwait,NaN,NaN,NaN,Linda,Brown,NaN,NaN,lindab1567@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,"PhD '94, BA '82",NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,London,NaN,UAE,NaN,*,marymiller5944@gmail.com,NaN,NaN,Kuwait,NaN,NaN,mary.miller5372@alumni.stanford.edu,Mary,Miller,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"BA '94, JD '83, MA '80",NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,Shanghai,NaN,China,NaN,NaN,NaN,NaN,NaN,Kuwait,NaN,NaN,liamrodriguez3500@stanfordalumni.org,Liam,Rodriguez,NaN,NaN,liam.rodriguez8596@stanfordalumni.org,NaN,NaN,NaN,NaN,NaN,NaN,"PhD '83, MD '99, MA '86",NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,NaN,1991.0,Dubai,NaN,USA,NaN,*,brodriguez369@stanfordalumni.org,NaN,NaN,United States,NaN,NaN,NaN,Barbara,Rodriguez,NaN,NaN,barbara.rodriguez5922@stanfordalumni.org,brodriguez2537@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,Shanghai,NaN,*,NaN,527 8201-677,*,NaN,NaN,NaN,NaN,NaN,NaN,Susan,Johnson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,NaN,NaN,*,*,NaN,NaN,NaN,susanbrown9774@stanfordalumni.org,NaN,NaN,Kuwait,NaN,NaN,NaN,Susan,Brown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,1994.0,Seoul,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jessica,Martinez,NaN,NaN,jessicamartinez1707@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,NaN,NaN,NaN,NaN,UAE,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,Barbara,Rodriguez,NaN,NaN,barbara.rodriguez2112@stanfordalumni.org,NaN,NaN,NaN,NaN,NaN,NaN,'97,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,NaN,NaN,*,*,Japan,NaN,*,*,NaN,NaN,United States,NaN,NaN,NaN,James,Martinez,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,Madrid,NaN,NaN,NaN,*,mdavis343@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,Mary,Davis,NaN,NaN,m.davis4650@stanfordalumni.org,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,*,*,NaN,NaN,*,NaN,NaN,NaN,USA,NaN,NaN,NaN,Sarah,Jones,NaN,NaN,sarahj4644@stanfordalumni.org,NaN,NaN,NaN,NaN,NaN,NaN,"JD '86, BA '86, BS '83",NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,Boston,MA,Kuwait,NaN,NaN,jennifer.garcia9830@stanfordalumni.org,NaN,NaN,UAE,NaN,NaN,NaN,Jennifer,Garcia,NaN,NaN,jennifergarcia736@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,"JD '86, BA '87",NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,NaN,NaN,Boston,MA,Japan,NaN,*,*,NaN,NaN,NaN,NaN,NaN,sjohnson4098@gmail.com,Sarah,Johnson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"BS '94, BA '93, BS '80",NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,2006.0,Dubai,NaN,Kuwait,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sarah,Jones,NaN,NaN,sjones7414@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,"'89, BA '96",NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,1998.0,*,*,NaN,NaN,NaN,sarah.rodriguez4470@stanfordalumni.org,NaN,NaN,China,NaN,NaN,NaN,Sarah,Rodriguez,NaN,NaN,srodriguez2665@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,PhD '86,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,2016.0,Beijing,NaN,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Susan,Rodriguez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MS '97, BA '83, MD '94",NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Scratchwork

In [7]:
if str(combined_data['email_switch']).find('(pref)'):
    combined_data['Email Address'] = combined_data['email_switch']

In [8]:
if '(pref)' not in combined_data['email_switch']: 
    pass
else:
    combined_data['Email Address'] = combined_data['email_switch']

In [36]:
name_first = input('First Name: ')
name_last = input('Last Name: ')
pref_email = input('Preferred Email Address: ')

First Name: Ash
Last Name: Ketchum
Preferred Email Address: Poke1@gmail.com

In [37]:
def create_df(name1, name2, email):
    new_df = pd.DataFrame(columns=['First_Name', 'Last_Name', 'Preferred_Email'])
    df2 = {'First_Name': name1, 'Last_Name': name2, 'Preferred_Email': email}
    new_df = new_df.append(df2, ignore_index = True)
    return new_df

In [38]:
df = create_df(name_first, name_last, pref_email)
df

  First_Name Last_Name  Preferred_Email
0        Ash   Ketchum  Poke1@gmail.com

In [39]:
df2 = {'First Name': 'Harry', 'Last Name': 'Potter', 'Email Address': 'email@email.com'}
combined_data = combined_data.append(df2, ignore_index = True)
combined_data

,Email Address,First Name,Last Name,Board Member,Gender,Chapter,Reunion Year,Country,Degree,MEMBER_RATING,OPTIN_TIME,OPTIN_IP,CONFIRM_TIME,CONFIRM_IP,LATITUDE,LONGITUDE,GMTOFF,DSTOFF,TIMEZONE,CC,REGION,CLEAN_TIME,CLEAN_CAMPAIGN_TITLE,CLEAN_CAMPAIGN_ID,LEID,EUID,NOTES,TAGS,pref_mail_name,pref_class_year,home_city,home_state_code,home_country,home_phone_area_code,home_phone_number,home_email_address,bus_city,bus_state_code,bus_country,bus_phone_area_code,bus_phone_number,bus_email_address,first_name,last_name,pref_name_sort,email_switch,saa_email_address,gsb_email_address,other_email_address,pref_phone_area_code,pref_phone_number,pref_phone_addr_type,memb_status_desc,short_degree_string,parent_degree_string,short_degree_string_spouse,parent_degree_string_spouse,primary_sort_name,plan_name,primary_ind
0,email@email.com,Harry,Potter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
df2 = {'First Name': 'Walter', 'Last Name': 'White', 'Email Address': 'science@stanford.edu'}
combined_data = combined_data.append(df2, ignore_index = True)
combined_data

,Email Address,First Name,Last Name,Board Member,Gender,Chapter,Reunion Year,Country,Degree,MEMBER_RATING,OPTIN_TIME,OPTIN_IP,CONFIRM_TIME,CONFIRM_IP,LATITUDE,LONGITUDE,GMTOFF,DSTOFF,TIMEZONE,CC,REGION,CLEAN_TIME,CLEAN_CAMPAIGN_TITLE,CLEAN_CAMPAIGN_ID,LEID,EUID,NOTES,TAGS,pref_mail_name,pref_class_year,home_city,home_state_code,home_country,home_phone_area_code,home_phone_number,home_email_address,bus_city,bus_state_code,bus_country,bus_phone_area_code,bus_phone_number,bus_email_address,first_name,last_name,pref_name_sort,email_switch,saa_email_address,gsb_email_address,other_email_address,pref_phone_area_code,pref_phone_number,pref_phone_addr_type,memb_status_desc,short_degree_string,parent_degree_string,short_degree_string_spouse,parent_degree_string_spouse,primary_sort_name,plan_name,primary_ind
0,email@email.com,Harry,Potter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,science@stanford.edu,Walter,White,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
def update_df(df, name1, name2, email):
    df.at[df.set_index('Email Address').loc[email]['First Name']] = name1
    df.at[df.set_index('First Name').loc[name1]['Preferred Email Address']] = email
    df.at[df.set_index('First Name').loc[name1]['Last Name']] = name2
    return df

## Next Steps

Next step would be to take a proactive approach to mitigate the number of emails that bounce in the future. I would suggest using the salesforce dataset to check for recent grads to reach out before they lose their student emails and ask for updated contact information and their subsequent plans after graduation. It would be easier to update records proactively when we still have accurate contact information. For subsequent plans after graduation, this would be to keeping location information of members to more accurately send regional events and functions.