In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
np.random.seed(42)

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
stanford = pd.read_excel('../SAA Pride member reports headings.xlsx')

Create fake data.

In [5]:
common_first_name = ['Liam',
    'Noah',
    'Oliver',
    'James',
    'William',
    'Benjamin',
    'Henry',
    'Jack',
    'Alex',
    'Jackson',
    'Mateo',
    'Daniel',
    'Michael',
    'Mason',
    'Sebastian',
    'Ethan',
    'Mary',
    'Jennifer',
    'Linda',
    'Elizabeth',
    'Susan',
    'Jessica',
    'Sarah',
    'Karen',
    'Lisa',
    'Nancy',
    'Betty',
    'Margaret',
    'Sandra',
    'Ashley',
    'Kimberly',
    'Emily',
    'Michelle',
    'Taylor']

common_last_name = [
    'Smith',
    'Johnson',
    'Williams',
    'Brown',
    'Jones',
    'Miller',
    'Davis',
    'Garcia',
    'Rodriguez',
    'Wilson',
    'Lee',
    'Jackson',
    'Martin'
]

titles = ['Dr.', 'Mr.', 'Ms.', 'Mrs.']

In [6]:
city = ['Chicago', 'Boston', 'New York', 'San Francisco', 'Los Angeles', 'Austin','Dallas', 'Denver', 'Madrid', 'Tokyo', 'Seoul', 'London',
       'Beijing']

In [7]:
email_endings = ['@gmail.com', '@stanford.edu', '@alumni.stanford.edu']

In [8]:
pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))

     A   B   C   D
0   51  92  14  71
1   60  20  82  86
2   74  74  87  99
3   23   2  21  52
4    1  87  29  37
..  ..  ..  ..  ..
95  59  96  62  84
96  31  86  32  66
97  17  24  94  53
98  57  66  45  23
99  31  46  85  22

[100 rows x 4 columns]

In [9]:
firsttname = []

while len(firsttname) < 300:
    firsttname.append(random.choice(common_first_name))

In [10]:
len(firsttname)

300

In [11]:
lastname = []

while len(lastname) < 300:
        lastname.append(random.choice(common_last_name))

In [12]:
len(lastname)

300

In [71]:
cityname = []

while len(cityname) < 300:
        cityname.append(random.choice(['*', None,city]))

In [72]:
len(cityname)

300

In [73]:
classyear = []

while len(classyear) < 300:
        classyear.append(random.randint(1800, 2100))

In [74]:
len(classyear)

300

In [75]:
email = []

while len(email) < 300:
        email.append(random.choice(email_endings))

In [76]:
len(email)

300

In [83]:
stanford.saa_email_address = email
stanford.first_name = firsttname
stanford.last_name = lastname
stanford.pref_class_year = classyear
stanford.home_city = cityname

In [79]:
stanford.first_name

0          James
1           Noah
2        Michael
3       Margaret
4          Mateo
         ...
295        Susan
296    Elizabeth
297         Lisa
298    Sebastian
299      William
Name: first_name, Length: 300, dtype: object

In [80]:
stanford

,pref_mail_name,pref_class_year,home_city,home_state_code,home_country,home_phone_area_code,home_phone_number,home_email_address,bus_city,bus_state_code,bus_country,bus_phone_area_code,bus_phone_number,bus_email_address,first_name,last_name,pref_name_sort,email_switch,saa_email_address,gsb_email_address,other_email_address,pref_phone_area_code,pref_phone_number,pref_phone_addr_type,memb_status_desc,short_degree_string,parent_degree_string,short_degree_string_spouse,parent_degree_string_spouse,primary_sort_name,plan_name,primary_ind
0,Mrs. James Smith,1966,*,MA,*,*,*,*,*,*,*,*,*,*,James,Smith,*,*,@stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*
1,Mrs. Noah Jackson,2050,"[Chicago, Boston, New York, San Francisco, Los...",*,China,*,490 2147-736,*,*,*,*,*,*,*,Noah,Jackson,*,*,@alumni.stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*
2,Mrs. Michael Brown,1808,*,CO,*,*,216 0799-232,*,*,*,*,*,*,*,Michael,Brown,*,*,@gmail.com,*,*,*,*,*,*,*,*,*,*,*,*,*
3,Mrs. Margaret Smith,1976,*,CA,*,*,None,*,*,*,*,*,*,*,Margaret,Smith,*,*,@gmail.com,*,*,*,*,*,*,*,*,*,*,*,*,*
4,Mrs. Mateo Davis,1837,*,CA,*,*,None,*,*,*,*,*,*,*,Mateo,Davis,*,*,@gmail.com,*,*,*,*,*,*,*,*,*,*,*,*,*
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Mrs. Susan Brown,2002,None,TX,*,*,*,*,*,*,*,*,*,*,Susan,Brown,*,*,@gmail.com,*,*,*,*,*,*,*,*,*,*,*,*,*
296,Mrs. Elizabeth Lee,1986,"[Chicago, Boston, New York, San Francisco, Los...",*,Spain,*,*,*,*,*,*,*,*,*,Elizabeth,Lee,*,*,@gmail.com,*,*,*,*,*,*,*,*,*,*,*,*,*
297,Mrs. Lisa Smith,1931,"[Chicago, Boston, New York, San Francisco, Los...",NY,*,*,None,*,*,*,*,*,*,*,Lisa,Smith,*,*,@stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*
298,Mrs. Sebastian Rodriguez,1954,*,CO,*,*,None,*,*,*,*,*,*,*,Sebastian,Rodriguez,*,*,@gmail.com,*,*,*,*,*,*,*,*,*,*,*,*,*
299,Mrs. William Lee,1872,"[Chicago, Boston, New York, San Francisco, Los...",IL,*,*,*,*,*,*,*,*,*,*,William,Lee,*,*,@alumni.stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*

In [81]:
country = {
           'Madrid' : 'Spain',
           'Tokyo' : 'Japan',
           'Seoul' : 'South Korea', 
           'London' : 'England',
       'Beijing' : 'China'}

In [82]:
stanford.home_country = stanford['home_city'].map(country)

TypeError: unhashable type: 'list'

In [ ]:
state = {'Chicago': 'IL', 
           'Boston': 'MA', 
           'New York' : 'NY', 
           'San Francisco': 'CA', 
           'Los Angeles' : 'CA', 
           'Austin' : 'TX',
        'Dallas': 'TX',
        'Denver': 'CO'}

In [ ]:
stanford.home_state_code = stanford['home_city'].map(state)

In [ ]:
stanford.fillna('*', inplace = True)

In [ ]:
stanford

In [63]:
stanford.pref_mail_name = random.choice(titles) + " " + stanford.first_name + " " + stanford.last_name

In [64]:
stanford

,pref_mail_name,pref_class_year,home_city,home_state_code,home_country,home_phone_area_code,home_phone_number,home_email_address,bus_city,bus_state_code,bus_country,bus_phone_area_code,bus_phone_number,bus_email_address,first_name,last_name,pref_name_sort,email_switch,saa_email_address,gsb_email_address,other_email_address,pref_phone_area_code,pref_phone_number,pref_phone_addr_type,memb_status_desc,short_degree_string,parent_degree_string,short_degree_string_spouse,parent_degree_string_spouse,primary_sort_name,plan_name,primary_ind
0,Mrs. James Smith,1834,Boston,MA,*,*,*,*,*,*,*,*,*,*,James,Smith,*,*,@stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*
1,Mrs. Noah Jackson,1911,Beijing,*,China,*,*,*,*,*,*,*,*,*,Noah,Jackson,*,*,@stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*
2,Mrs. Michael Brown,1976,Denver,CO,*,*,*,*,*,*,*,*,*,*,Michael,Brown,*,*,@alumni.stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*
3,Mrs. Margaret Smith,1853,Los Angeles,CA,*,*,*,*,*,*,*,*,*,*,Margaret,Smith,*,*,@gmail.com,*,*,*,*,*,*,*,*,*,*,*,*,*
4,Mrs. Mateo Davis,1827,San Francisco,CA,*,*,*,*,*,*,*,*,*,*,Mateo,Davis,*,*,@gmail.com,*,*,*,*,*,*,*,*,*,*,*,*,*
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Mrs. Susan Brown,2065,Dallas,TX,*,*,*,*,*,*,*,*,*,*,Susan,Brown,*,*,@gmail.com,*,*,*,*,*,*,*,*,*,*,*,*,*
296,Mrs. Elizabeth Lee,1890,Madrid,*,Spain,*,*,*,*,*,*,*,*,*,Elizabeth,Lee,*,*,@alumni.stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*
297,Mrs. Lisa Smith,1950,New York,NY,*,*,*,*,*,*,*,*,*,*,Lisa,Smith,*,*,@alumni.stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*
298,Mrs. Sebastian Rodriguez,2044,Denver,CO,*,*,*,*,*,*,*,*,*,*,Sebastian,Rodriguez,*,*,@stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*
299,Mrs. William Lee,1897,Chicago,IL,*,*,*,*,*,*,*,*,*,*,William,Lee,*,*,@stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*

In [65]:
num_ofDesiredRecords = 300

In [66]:
def createRandomPhoneNumber_SAA():
    range_start = 10**9
    range_end = 10**10 -1
    num = str(random.randint(range_start,range_end))
    num_str = "{0} {1}-{2}".format(num[:3], num[3:7],num[7:])
    return num_str

In [68]:
__  = []
for _ in range(0,num_ofDesiredRecords):
    __.append(random.choice(['*',None,createRandomPhoneNumber_SAA()]))
    
stanford.home_phone_number = __

In [69]:
stanford

,pref_mail_name,pref_class_year,home_city,home_state_code,home_country,home_phone_area_code,home_phone_number,home_email_address,bus_city,bus_state_code,bus_country,bus_phone_area_code,bus_phone_number,bus_email_address,first_name,last_name,pref_name_sort,email_switch,saa_email_address,gsb_email_address,other_email_address,pref_phone_area_code,pref_phone_number,pref_phone_addr_type,memb_status_desc,short_degree_string,parent_degree_string,short_degree_string_spouse,parent_degree_string_spouse,primary_sort_name,plan_name,primary_ind
0,Mrs. James Smith,1834,Boston,MA,*,*,*,*,*,*,*,*,*,*,James,Smith,*,*,@stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*
1,Mrs. Noah Jackson,1911,Beijing,*,China,*,490 2147-736,*,*,*,*,*,*,*,Noah,Jackson,*,*,@stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*
2,Mrs. Michael Brown,1976,Denver,CO,*,*,216 0799-232,*,*,*,*,*,*,*,Michael,Brown,*,*,@alumni.stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*
3,Mrs. Margaret Smith,1853,Los Angeles,CA,*,*,None,*,*,*,*,*,*,*,Margaret,Smith,*,*,@gmail.com,*,*,*,*,*,*,*,*,*,*,*,*,*
4,Mrs. Mateo Davis,1827,San Francisco,CA,*,*,None,*,*,*,*,*,*,*,Mateo,Davis,*,*,@gmail.com,*,*,*,*,*,*,*,*,*,*,*,*,*
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Mrs. Susan Brown,2065,Dallas,TX,*,*,*,*,*,*,*,*,*,*,Susan,Brown,*,*,@gmail.com,*,*,*,*,*,*,*,*,*,*,*,*,*
296,Mrs. Elizabeth Lee,1890,Madrid,*,Spain,*,*,*,*,*,*,*,*,*,Elizabeth,Lee,*,*,@alumni.stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*
297,Mrs. Lisa Smith,1950,New York,NY,*,*,None,*,*,*,*,*,*,*,Lisa,Smith,*,*,@alumni.stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*
298,Mrs. Sebastian Rodriguez,2044,Denver,CO,*,*,None,*,*,*,*,*,*,*,Sebastian,Rodriguez,*,*,@stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*
299,Mrs. William Lee,1897,Chicago,IL,*,*,*,*,*,*,*,*,*,*,William,Lee,*,*,@stanford.edu,*,*,*,*,*,*,*,*,*,*,*,*,*